.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  max-width: 700px;
  margin: 2px 0 0 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-autocomplete .ui-menu-item {
  cursor: pointer;
  padding: 8px;
  font-weight: 400;
  border-radius: 5px;
}
.ui-autocomplete .ui-menu-item:hover {
  color: #fd9808;
  background-color: #f4f4f4;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #555555;
  white-space: nowrap;
}

.ui-helper-hidden-accessible { display:none; }