= simple_form_for @image, remote: true do |f|
  = f.input :link, label: false, placeholder: "Ссылка на изображение", input_html: { class: "input-lg" }
  = f.input :text, label: false, placeholder: "Текст изображения", input_html: { class: "input-lg" }
  .col-xs-offset-5 = f.button :submit, 'Добавить', class: "btn btn-lg", "data-disable-with" => "Добавление..."
